/**
* @file 
* @date 2021-12-03
* @author zhoubin 
* @lastModify zhoubin  2021-12-03
*/
/* <------------------------------------ **** CONSTANT IMPORT START **** ------------------------------------ */
/** Import all the reference constant after this line */
@import '~/Constant/breakPoint.scss';
@import '~/Constant/font.scss';
@import '~/Constant/color.scss';
/* <------------------------------------ **** CONSTANT IMPORT END **** ------------------------------------ */
/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin demo {
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
.editor_container {
    width: 800px;
    margin: auto;
    padding-top: 200px;
    user-select: none;
}
.editor_toolbar {
    background-color: #fff;
    border: 1px solid #c9d8db;
    border-bottom: 1px solid #eee;
    z-index: 10001;
    display: flex;
    padding: 0 6px;
    flex-wrap: wrap;
    position: relative;
}
.editor_menu {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #f6f6f6;
    }
}
.editor_text_container {
    border: 1px solid #c9d8db;
    border-top: none;
    height: 400px;
    width: 100%;
    z-index: 10000;
    body {
        overflow-wrap: break-word;
    }
}
/* <--------------------------- * SECTION1 * --------------------------- */
